.cloudA {
    top: 35%;
    margin-left: 25%;
    opacity: 20%;
    object-fit: cover;
}



/*********/

.cloudB {
    top: 38%;
    opacity: 30%;
    margin-left: 50%;
    object-fit: cover;
}



/*********/

.cloudC {
    top: 20%;
    opacity: 20%;
    right: 10%;
    object-fit: cover;
}



/*********/

.cloudD {
    top: 50%;
    opacity: 30%;
    right: 30%;
    object-fit: cover;
}



/*********/

.cloudE {
    top: 48%;
    opacity: 20%;
    margin-left: 5%;
    object-fit: cover;
}



/*********/

.cloudF {
    top: 60%;
    opacity: 20%;
    margin-left: 20%;
    object-fit: cover;
}



/*********/

.cloudG {
    top: 25%;
    opacity: 30%;
    margin-left: 15%;
    object-fit: cover;
}



/*********/

.cloudH {
    top: 30%;
    opacity: 30%;
    margin-left: 70%;
    object-fit: cover;

}



/*********/

.cloudI {
    top: 20%;
    opacity: 30%;
    margin-left: 40%;
    object-fit: cover;
}



/*********/

.cloudJ {
    top: 50%;
    opacity: 30%;
    object-fit: cover;
    right: 5%;
}