.scroll {
    height: 1000px;
}

body {
    background: #f5f5f5;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    -moz-box-shadow: 0px 0px 5px 0px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 0px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 0px #cfcfcf;
    box-shadow: 0px 0px 5px 0px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=5);
}

.search {
    border: 1px solid rgb(230, 230, 230);
    padding: 5px 20px 5px 50px;
    height: 45px;
    width: 600px;
    margin-top: 15px;
    background: #eeeeee;
}

.content {
    height: 2000px;
}

.a-logo,
.logo {
    max-height: 75px;
    height: 75px;
}

.pdp {
    max-height: 65px;
}

.loupe {
    position: relative;
    left: 40px;
    top: 25px;
}

#iconloupe {
    fill: #222831;
}

.main {
    position: relative;
    top: 100px;
    min-height: auto;
    max-height: auto;
    width: 40%;

}

.share-box {
    padding: 5px 20px 20px 20px;
    -moz-box-shadow: 0px 1px 2px 1px #cfcfcf;
    -webkit-box-shadow: 0px 1px 2px 1px #cfcfcf;
    -o-box-shadow: 0px 1px 2px 1px #cfcfcf;
    box-shadow: 0px 1px 2px 1px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=2);
}

.post-create {
    padding: 5px 20px 5px 20px;
    height: 50px;
    width: 300px;
    margin-top: 15px;
    background: #fff;
    -moz-box-shadow: 0px 1px 2px 1px #cfcfcf;
    -webkit-box-shadow: 0px 1px 2px 1px #cfcfcf;
    -o-box-shadow: 0px 1px 2px 1px #cfcfcf;
    box-shadow: 0px 1px 2px 1px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    top: 50px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    border: 1px solid #888;
    width: 100%;
}

.modal-post {
    width: 500px;
    background: #fff;
}

.close {
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    color: #222831;
    text-decoration: none;
    cursor: pointer;
}

.closes {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closes:hover,
.closes:focus {
    color: #222831;
    text-decoration: none;
    cursor: pointer;
}

.write {
    color: #222831;
}

.hr {
    background: #bebebe;
    width: 95%;
    height: 1px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.create-title,
.create-file,
.create-url,
.create-tags {
    border: 1px solid rgb(230, 230, 230);
    padding: 5px 20px 5px 20px;
    height: 45px;
    background: #eeeeee;
    letter-spacing: 0.025em;
}

.create-text {
    height: 200px;
    max-height: 200px;
    width: 100%;
    padding: 5px 20px 5px 20px;
    background: #eeeeee;
    letter-spacing: 0.025em;
}

.create-file:focus,
.create-url:focus,
.create-text:focus,
.create-title:focus,
.create-tags:focus,
.search:focus,
.sendIt:focus,
.post-create:focus {
    outline: none;
}

.create-file:hover,
.create-url:hover,
.create-text:hover,
.create-title:hover,
.create-tags:hover,
.search:hover,
.post-create:hover {
    outline: none;
}

.sendIt {
    background: #53ffa9;
    padding: 5px 20px 5px 20px;
    font-family: 'Comfortaa', cursive;
}

.sendIt:hover{
    background: #222831;
    color: #fff;
}

#wrap {
    font-family: sans-serif;
    font-size: 30px;
    height: 1000px;
    margin: 0;
    display: flex;
    color: #fff;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
}

#wrap:not(:target) {
    transform: translate3d(-270px, 0, 0);
}

#wrap:target {
    transform: translate3d(0, 0, 0);
}

#wrap:target #open,
#wrap:not(:target) #close {
    display: none;
}

#wrap:target #open {
    display: none;
}

#open,
#close {
    height: 50px;
    text-align: right;
    display: block;
    margin-right: -15px;
    color: #222831;
}

.nav a {
    color: white;
    text-decoration: none;
    display: block;
    color: #222831;
}

.head {
    background: #fff;
    width: 360px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
}

.head2 {
    background: #fff;
    width: 360px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    -moz-box-shadow: 0px 0px 5px 0px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 0px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 0px #cfcfcf;
    box-shadow: 0px 0px 5px 0px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=5);
}

.nav {
    padding: 25px;
}

.navTitle {
    font-family: 'Montserrat', sans-serif;
}

.post-box {
    -moz-box-shadow: 0px 1px 2px 1px #cfcfcf;
    -webkit-box-shadow: 0px 1px 2px 1px #cfcfcf;
    -o-box-shadow: 0px 1px 2px 1px #cfcfcf;
    box-shadow: 0px 1px 2px 1px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=2);
}

.post-img {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.post-like,
.post-comment,
.post-dislike {
    padding: 5px 15px 5px 15px;
    margin: 0 10px;
}

.post-like:focus,
.post-comment:focus,
.post-dislike:focus {
    outline: none;
}

.post-like:hover,
.post-comment:hover,
.post-dislike:hover {
    background: #cfcfcf;
}







.post-share {
    cursor: pointer;
}

.post-share:hover {
    background: #cfcfcf;
}

.post-share:hover,
.post-share:focus {
    outline: none;
}

.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    float: right;
    margin-left: 20px;
    background: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}